.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #ccc;
}

.user-header-logo img {
  height: 40px;
}

.user-header-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-header-name {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-header-icon {
  font-size: 1.2rem;
  cursor: pointer;
}
